<h1>Page Namespace: <%= params[:page_namespace] %></h1>

<h2>Page Id: <%= params[:page_id] %></h2>

<h2>Next Pages<h2>
<ul>
  <% @next_page_ids.each do |page_id| %>
    <li>
      <%= link_to page_id, page_path(params[:page_namespace], page_id, @next_page_params)%>
    </li>
  <% end %>
</ul>

<h2>Other Params<h2>
<ul>
    <li>link_size: <%= @link_size %></li>
    <li>max_depth: <%= @max_depth %></li>
    <li>depth: <%= @depth %></li>
</ul>

<h2>Filler</h2>

<p>Here are some random text to make the page larger (but they are invisible to human)</p>

<div style='visibility: hidden'>
<% 0.times do %>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<% end %>
</div>
